In [2]:
import pandas as pd
import pygwalker as pg

# Read Data

In [3]:
df_sales = pd.read_csv('Sales.csv')
df_sales

                    Date   SKU                Product Name        City  Sales
0     2023-01-01 0:00:00  F001             Prateek England      Mumbai     93
1     2023-01-01 0:00:00  F002               Lucy Phillepe      Mumbai     36
2     2023-01-01 0:00:00  F003                    Badlands      Mumbai      7
3     2023-01-01 0:00:00  F004                 Allen Dolly      Mumbai     55
4     2023-01-01 0:00:00  F005                      Bucchi      Mumbai     41
...                  ...   ...                         ...         ...    ...
6195  2023-01-30 0:00:00  G001           Crafting Chandlar  Aurangabad     13
6196  2023-01-30 0:00:00  G002                  Desi Kurti  Aurangabad     24
6197  2023-01-30 0:00:00  G003  Family Cake and Card Combo  Aurangabad     66
6198  2023-01-30 0:00:00  G004           Exact Flower Vase  Aurangabad     55
6199  2023-01-30 0:00:00  G005          Friends Dinner Set  Aurangabad     59

[6200 rows x 5 columns]

In [4]:
pg.walk(df_sales)

Box(children=(HTML(value='<div id="ifr-pyg-0" style="height: auto">\n    <head>\n        <meta http-equiv="Con…